{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}<title>Football Shop</title>{% endblock meta %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body class="antialiased text-gray-900">
  {% block content %}{% endblock content %}
</body>
</html>
<style>
  .line-clamp-2 { display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; -webkit-line-clamp:2; }
  .line-clamp-3 { display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; -webkit-line-clamp:3; }
</style>
